.rolling-window-analysis-line{
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.rolling-window-analysis-list-container{
  width: 100%;
  flex: 1;
  overflow: auto;
}

.rolling-window-analysis-list{
  font-size: small;
}

.rolling-window-analysis-list thead th{
  user-select: none;
  cursor: pointer;
}
