.yahoo-history-modal-backdrop {
  left: 0;
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
}

.yahoo-history-modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.yahoo-history-chart{
  position: relative;
  height: 30%;
  width: 100%;
  box-sizing: border-box;
}

.yahoo-history-sub-chart{
  display: flex;
  flex-direction: row;
  height: 70%;
}

.yahoo-history-column{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.yahoo-history-title{
  width: 100%;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}
